[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
ratelimit = "*"
gunicorn = "*"
webargs = "*"
python-dotenv = "*"
peewee = "*"
viberbot = "*"
peewee-migrate = "*"
paramiko = "*"
dependency-injector = "*"

[requires]
python_version = "3.9"

[dev-packages]
pytest = "*"
pytest-mock = "*"
